:root {
  --lavender: #EAE8FF;
  --light-grey: #D8D5DB;
  --silver: #ADACB5;
  --gunmetal: #2D3142;
  --baby-blue: #B0D7FF;
}

.analyticsGraphs {
  background: var(--lavender);
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 25%);
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  backdrop-filter: blur(20px);
}
thead th h2 {
  margin: 2.5%;
}
tbody tr {
  background: var(--light-grey);
}


ul li {
  list-style: none;
}



