* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 30px;
}

:root {
    --textColor: #0E101B;
    --textFont: 'Barlow Condensed', serif;
    --headerFont: 'Montserrat', sans-serif;
    --signatureFont: 'MonteCarlo', cursive;
    --background: #F2F3F8;
    --primary: #8067AD;
    --secondary: #F1E8F3;
    --accent: #A467AD;
}

body {
    background: var(--background);
}


.resume {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .15fr repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 10% auto;
    color: var(--textColor);
    max-width: 1000px;
}

.wrapper#experience {
    margin:25px auto;
}

.accomplishment {
    margin-left: 25px;
}


    
#header { 
    grid-area: 1 / 1 / 2 / 4; 
    margin-bottom: 30px;
}

#header h1 {
    font-size: 4em;
    padding: 25px 0;
}

#main h2.title {
    margin-bottom: 25px;
}

#header span {
    font-size: 2em;
    color: var(--primary);    
}


#main { 
    grid-area: 2 / 1 / 7 / 3; 
}

#main h5 {
    font-size: 1.25em;;
}

#main h6 {
    font-size: 1em;;
}

.job {
    margin-bottom: 35px;
}

#highlights { 
    grid-area: 2 / 3 / 7 / 4; 
}

#highlights.wrapper {
    margin-left: 10%;
}

#highlights.wrapper ul li {
    list-style:  none;
}

#highlights div {
    margin-bottom: 25px;
}

#highlights div h2 {
    margin-bottom: 5px;
}



@media(max-width: 800px) {
    .resume {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        margin: 10% 5%;
       
    }

    #header, #header #myTitle {
        text-align: center;;
    }

    #header h1 {
        font-size: 2em;
    }

    #header span {
        font-size: 1em;
        color: var(--primary);    
    }
}