:root{
    --nav-height: 3rem;
    --font-size: 20px;

    --bg-color: rgb(245, 245, 245);
    --fg-color: rgb(174, 233, 243);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: var(--font-size);
    
}

body{
    background-color: var(--bg-color);
    height: 100%;
    color:rgb(63, 63, 63);
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--fg-color);
    width: 100%;
    height: var(--nav-height);
}

.header{
    font-size: 15px;
}

.nav-logo{
    height: calc(var(--nav-height));
    padding: 10px calc(var(--nav-height) / 4);
}

.beginGame{
    text-align: center;
    margin: 5% 10%;
    font-size: 2.5vh;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice img{
    height: 75px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.choices img:hover{
    box-shadow: 4px 4px 4px 4px rgb(163, 163, 163);
    border-radius: 15px;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plays{
    display: flex;
}

.playCard{
    background-color: rgba(242, 247, 248, 0.9);
    height: 100px;
    width: 100px;
    margin: 10px;
}

.player{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    height: 75px; 
    margin: 20px;
}

.vs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.referee{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score, .reset{
    display: flex;  
}

.winlosedraw{
    margin: auto;
    padding-bottom: 30px;
}

.decision{
    font-size: 40px;
}

.outcome, #reset{
    font-size: 15px;
    font-weight: lighter;
}

.outcome{
    padding: 10px;
}
#wins, #draws, #losses{
    display: flex;
    justify-content: center;
    align-items: center;
}
#wins{
    color: rgb(14, 100, 14);
}

#draws{
    color: rgb(155, 151, 151)
}

#losses{
    color: rgb(100, 14, 14);
}

.reset{
    cursor: pointer;
    padding-top: 5px;
}

#reset{
    color: rgba(95, 8, 8);
}


.footer{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--nav-height);
    background-color: var(--fg-color);
    left: 0;
    bottom: 0;
    width: 100%;
}

.copy{
    font-size: 15px;
    padding-right: calc(var(--nav-height) / 4);
}