:root {
    --beige: #e3d7d0;
    --white: #fdfdfd;
    --brown: #bc9a7c;
    --black: #0e0d0d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}


h3 {
    font-size: 5rem;
}
header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: var(--beige);
    box-shadow: 0 0 10px var(--black);
    z-index: 100;
}

header img {
    height: 80px
}

header nav a {
    color: var(--brown);
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4);
    text-decoration: none;
    margin: .5rem;
    padding: 1rem 2.5rem;
    font-size: 2rem;
}

nav a:hover, nav a:focus {
    border-bottom: 1px solid var(--brown);
}

p {
    font-size: 2.8rem;
    line-height: 3.5rem;
}


footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: var(--black);
    padding: 5rem;
    color: var(--beige);
    text-align: center;
}

.social {
    display: flex;
}

.social div {
    padding: 1rem;
    border: 1px solid var(--beige);
    border-radius: 50%;
    margin: 1rem
}

footer p {
    font-size: 1.8rem;
}

footer div a img {
    height: 30px;
    
    margin: .5rem
}

.details {
    margin: 5rem
}