* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding is included in the width/height */
}

:root {
    --beige: #e3d7d0;
    --white: #fdfdfd;
    --brown: #bc9a7c;
    --black: #0e0d0d;
}


body {
    background: url('../public/decorative\ background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    background: var(--beige);
}

header nav a {
    color: var(--brown);
    text-decoration: none;
    margin: .5rem;
    padding: 1rem
}

footer {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social img {
    height: 75px;
    margin: 1rem;
    padding: .5rem;
}
