* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding is included in the width/height */
}

:root {
    --beige: #e3d7d0;
    --white: #fdfdfd;
    --brown: #bc9a7c;
    --black: #0e0d0d;
}


body {
    background: url('../public/decorative\ background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

/*HEADER*/

header {
    width: 100%;
    background: var(--beige);
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 10px var(--black);
}

header img {
    height: 80px
}

header nav a {
    color: var(--brown);
    text-decoration: none;
    margin: .5rem;
    padding: 1rem
}

p {
    font-size: 2rem;
    padding: 4rem
}


/*FOOTER*/
footer {
    position: relative;
    top: 100px;
    background-color: var(--black);
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0
}

.social {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.social a {
    border: 1px solid var(--white);
    border-radius: 50%;
}

.social img {
    height: 40px;
    margin: 1rem;
    padding: .25rem;
    
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details p {
    color: var(--beige);
    margin: 1rem;
    font-size: 1.5rem;
    padding: 0
}

.details p:nth-child(2) {
    font-size: 1.2rem;
}
