:root {
  --lavender: #EAE8FF;
  --light-grey: #D8D5DB;
  --silver: #ADACB5;
  --gunmetal: #2D3142;
  --baby-blue: #B0D7FF;

}



.officerData {
    display: flex;
    justify-content: space-evenly;
}

.officerInfo {
  width: 70%;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 20px;
  width: 200px;
  border: 1px solid var(--gunmetal);
  border-radius: 5px;
  transition: ease-in-out 0.1s;
  color: var(--gunmetal);
  background: var(--lavender);
}
  
.submitButton {
  background: var(--gunmetal);
  color: var(--lavender);
  padding: 10px 25px;
  margin: 2%;
    border-radius: 5px;;
}
  
.timekeeping {
  padding: 25px;
  margin: 10rem auto;
  margin-bottom: 5rem;;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  backdrop-filter: blur(20px);/*allows the container to have a blury background - no color*/
  height: auto;
  width: 60%;
  min-width: 275px;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  color:rgba(240, 248, 255, 0.7)
}
  
.timekeeping fieldset {
  margin: 15px 0;
}
  
.timekeeping fieldset input {
  margin: 10px;
  color: var(--gunmetal);
}
 
.timekeeping fieldset input::placeholder {
  color:var(--gunmetal);
}
  
.timekeeping fieldset select{
  margin: 15px 0;
  color:var(--gunmetal);;
  background: transparent;
}
  
    
.timekeeping fieldset select option {
  background: var(--lavender);
  color:var(--gunmetal);
} 

.timekeeping fieldset input, .timekeeping fieldset select, fieldset option {
  background: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
}
  
.timekeeping fieldset legend {
  font-size: 1.25em;
}
  
.campus {
  background: transparent;
}
  
.analytics {
  width: 95%;
  max-width: 850px;
  margin: 5% auto;   
}
  
.analytics table {
  background: var(--gunmetal);
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--baby-blue);
  border-style: solid;
  color: #D4D4D4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 15px;
}
  
.analytics table tbody {
  width: 100%;
}

.analytics table tr {
  display: flex;
  justify-content: space-evenly;      
}
  
.analytics table td, .analytics table th {
  height: 30px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;      
  text-align: center;
  color:rgba(240, 248, 255, 0.7);
  font-size: 1rem;
}
  
.analytics table .history {
  border-bottom: 1px solid var(--baby-blue);
}
  
.analytics thead {
  margin: 20px auto;
}
  
.analytics .history td {
  text-align: center;
}
  

        

  
 
  
@media (max-width: 991px) {
     
      
  
  .timekeeping fieldset {
    padding: 25px auto;
    display: block;
  }
  
  .officerInfo {
    width: 80%;
    margin: 0 auto;
    height: 25px;
    border-radius: 5px;
  }
  
  .clock {
      font-size: 1rem;
  }
}

@media (max-width: 700px) {
     
  .timekeeping {
    top: 45%;
    } 
}

@media(max-width: 575px) {
  .analytics {
    width: 100%;
    margin: 0
  }
  
  .analytics table td, .analytics table th {
    font-size: .65rem;
  }
}
  
@media (max-width: 400px) {
  
  .shiftTime {
    display: flex;
    flex-direction: column;  
    margin-bottom: 20px;
  }
  
  
  .timekeeping {
    width: 80%;
    margin-top: 50%;
  }

  .analytics table td, .analytics table th {
    font-size: .25rem;
  }
  
  .clock {
    width: 80%;
  }
  
  .timer {
    width: 100%;
  }
  
  .timer__button {
    padding: 5px;
      
  }
  .activeLink {
    border-bottom: 3px solid var(--baby-blue);
  }
  }
  
  
  