:root {
    --lavender: #EAE8FF;
    --light-grey: #D8D5DB;
    --silver: #ADACB5;
    --gunmetal: #2D3142;
    --baby-blue: #B0D7FF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: var(--gunmetal);
}

body {
    background: var(--lavender);
}

header {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    background: var(--gunmetal);
    box-shadow: 0 5px 10px var(--silver);
    padding: 1rem 7%;                                   
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
    text-transform: uppercase;
    height: 5rem;
}

header .logo, header a {
    font-weight: bolder;
    font-size: 1.2rem;                                   
    color: var(--baby-blue);
    letter-spacing: .25rem;
}

.container{ 
    background-color: var(--lavender);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    min-width: 250px;
    border-radius: 15px;
    box-shadow: 0 5px 10px var(--gunmetal);
    padding: 2rem;
}

.container form .input-box {
    margin: .5rem auto;
    min-width: 225px;
    height: 25px;
}

.form-box {
    text-align: center;
}

.container h3 {
    font-size: 0.7rem;
}

form div {
    display: flex;
    justify-content: space-around;
}

form .input-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .input-box span {
    padding: 1rem .5rem;
}

form .input-box input{
    height: 30px;
    border: none;
    background: var(--light-grey);
}
.options {
    flex-direction: column;
}

.idBadge {
    height: 20px;
}

::placeholder {
    padding:0 5px;
    color: var(--gunmetal);
}

.options a:hover {
    border-bottom: 1px solid var(--gunmetal);
}


.submit {
    margin-top: 2rem;
    width: 200px;
    height: 25px;
}

@media(max-width: 400px) {

    header a {
        font-size: 0.8rem;
    }
   

    .container h2 {
        font-size: 1rem;
    }

    .container form div {
        display: flex;
        justify-content: center;
    }

   
}