* {
    font-size: 1rem;
}

.game-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deck {
    width: 35vw;
    max-width: 400px;
    height: 100%;
}

.card {
    width: 60%;
    max-width: 275px;
}

.deck:hover {
    cursor: pointer;
}

tr td:nth-child(2) {
    max-width: 500px;
}

td {
    height: 40px;
}
tr:nth-child(odd) {
    background-color: #f3f3f3;
}

tr:hover {
    background-color: rgb(233, 226, 189);
    cursor: pointer;
}

table td, table th {
    padding: 10px
}


th {
    background-color: #a9a9a9;
    color: white;
    font-size: 1.5rem;
}

th:hover {
    cursor: default;
}

.game-river {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 1px 1px 10px lightgrey;
    margin: 1rem;
    height:400px; 
    border-radius: 7px;
}

.card:hover {
    box-shadow: 1px 1px 10px gold;
    cursor: pointer;
}

#discard {
    display: flex;
    justify-content: center; 
    align-items: center; 
}



@media (max-width: 1000px) {

    * {
        font-size: 0.9rem;
    }

    .game-details, .game-river {
        display: flex;
        flex-direction: column;        
    }

    .game-details {
        flex-direction: column-reverse;
    }

    .deck {
        width: 60vw;
    }
    .card {
        width: 42.25%;
    }
}
