body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .spinner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    animation: rainbow 100s linear infinite;
    transform-origin: center center; /* Set the transform origin to the center of the viewport */
  }
  
  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
  
