<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
    <link rel="stylesheet" href="/carousel/style.css">
</head>
<body>
   <section>
    <div class="title-page-container carousel">
        <img src="/carousel/images/image placeholder.jpg" alt="">
        <img src="/carousel/images/video placeholder.jpg" alt="">
        <img src="/carousel/images/people placeholder.jpg" alt="">
    </div>
   </section>
</body>
<script src="/carousel/script.js"></script>
</html>