* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
}


.carousel {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Hide overflowing images */
    position: absolute; /* Ensure absolute positioning works relative to the title-page-container */
}

.carousel img {
    position: absolute;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 5s ease; /* Add transition for smooth fade-in effect */
  }
  
  .carousel img:first-child {
    opacity: 1; /* Show first image initially */
  }
