@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --Blue: hsl(246, 80%, 60%);
    --LightRedWork: hsl(15, 100%, 70%);
    --SoftBlue: hsl(195, 74%, 62%);
    --LightRedStudy: hsl(348, 100%, 68%);
    --LimeGreen: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --SoftOrange: hsl(43, 84%, 65%);
    --VeryDarkBlue: hsl(226, 43%, 10%);
    --DarkBlue: hsl(235, 46%, 20%);
    --DesaturatedBlue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--VeryDarkBlue);
}

.container {
    display: flex;
}

.user {
    margin: 0 20px;
    width: 400px
}

.user .card .user-details h1 {
    font-size: 2.3rem;
}

.user, .stat-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--DarkBlue);
    border-radius: 15px;
}


.card {
    background: var(--Blue);
    height: 100%;
    width: 100%;
    display: flex;
    flex: 0 0 70%;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-weight: 100;
    padding: 1rem;
    border-radius: 15px;
}

.user-details h1{
    font-weight: 100;
}

.card img {
    width: 35%;
    height: auto
}


.stat-options {
    height: 100%;
    display: flex;
    flex: 0 0 30%;
    margin: 0 1rem;
    align-items: flex-start;
    justify-content: space-evenly;
}

.stat-options a {
    color:var(--DesaturatedBlue);
    text-decoration: none;
}

.stat-options a:hover {
    color: white;
}


.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
}

.stat {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    z-index: -2;
    position: relative; /* Ensure positioning is relative to this container */
    width: 250px;
    height: 250px;
}

.stat img {
    margin-left: 55%;
    z-index: -1;
}

.work {
    background: var(--LightRedWork);
}

.play {
    background: var(--SoftBlue);
}

.study {
    background: var(--LightRedStudy);
}

.exercise {
    background: var(--LimeGreen);
}

.social {
    background: var(--Violet);
}

.personal {
    background: var(--SoftOrange);
}

.report {
    background: var(--VeryDarkBlue);
    color: white;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 85%;
    z-index: 1000;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%; /* Cover the full width */
}

header {
    display: flex;
    justify-content: space-between;
}