body {
    display: grid;
    place-items: center;
    min-height: 100vh;

}

.container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.user {
    background: grey;
    width: 100%;
    border-radius: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgb(178, 172, 236);
    height: 67%;
    min-width: 250px;
    border-radius: 15px;
    padding: 0 2rem
}

.card img {
    width: 100px
}

.stat-options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 33%;
    padding: 0 15px
}

.stat-options a {
    text-decoration: none;
}

.stat-options a:hover {
    color: white;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.stat {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 230px;
    width: 250px;
    border-radius: 15px;
}

.report {
    background: whitesmoke;
    width: 100%;
    border-radius: 15px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.report header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report header a img {
    cursor: pointer;
}

.user { 
    grid-area: 1 / 1 / 3 / 2;
}

.work { 
    grid-area: 1 / 2 / 2 / 3;
    background: url('/Front End Mentor Projects/Time Tracking Dashboard/time-tracking-dashboard-main/time-tracking-dashboard-main/images/icon-work.svg') no-repeat;
    background-position: top right;
    background-color: orange;
}

.play { 
    grid-area: 1 / 3 / 2 / 4;
    background: url('/Front End Mentor Projects/Time Tracking Dashboard/time-tracking-dashboard-main/time-tracking-dashboard-main/images/icon-play.svg') no-repeat;
    background-position: top right;
    background-color: teal;
}

.study { 
    grid-area: 1 / 4 / 2 / 5;
    background: url('/Front End Mentor Projects/Time Tracking Dashboard/time-tracking-dashboard-main/time-tracking-dashboard-main/images/icon-study.svg') no-repeat;
    background-position: top right;
    background-color: pink;
}

.exercise { 
    grid-area: 2 / 2 / 3 / 3;
    background: url('/Front End Mentor Projects/Time Tracking Dashboard/time-tracking-dashboard-main/time-tracking-dashboard-main/images/icon-exercise.svg') no-repeat;
    background-position: top right;
    background-color: green;
}

.social{ 
    grid-area: 2 / 3 / 3 / 4;
    background: url('/Front End Mentor Projects/Time Tracking Dashboard/time-tracking-dashboard-main/time-tracking-dashboard-main/images/icon-social.svg') no-repeat;
    background-position: top right;
    background-color: blueviolet;
}

.personal { 
    grid-area: 2 / 4 / 3 / 5;
    background: url('/Front End Mentor Projects/Time Tracking Dashboard/time-tracking-dashboard-main/time-tracking-dashboard-main/images/icon-self-care.svg') no-repeat;
    background-position: top right;
    background-color: gold;
}