body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.container > div {
    margin: 15px;
}

.user {
    background: grey;
    width: fit-content;
    border-radius: 15px;
    max-width: 350px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgb(178, 172, 236);
    height: 67%;
  
    border-radius: 15px;
    padding: 0 2rem
}

.card img {
    width: 100px;
}

.user-name {
    font-size: 3rem;
}

.stat-options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 33%;
    padding: 0 15px
}

.stat-options a {
    text-decoration: none;
    width: fit-content;
}

.stat-options a:hover {
    color: white;
}


.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    max-width: 1000px;
}

.user {
    width: 50%;
}

.stat {
    width: 100%;
    padding-top: 50px;
    z-index: 0;
    border-radius: 15px;
    height: 250px;
}

.stat > img {
    height: 100px;
    float: right;
    position: relative;
    top: -17.5%;
    right: 2%;
    z-index: 0;
}

.work {
    grid-area: 1 / 1 / 2 / 2;
    background: orange;
}

.play {
    grid-area: 1 / 2 / 2 / 3; 
    background: teal;
}

.study {
    grid-area: 1 / 3 / 2 / 4;
    background: pink;
}

.exercise {
    grid-area: 2 / 1 / 3 / 2;
    background: green;
}

.social {
    grid-area: 2 / 2 / 3 / 3;
    background: purple;
}

.personal {
    grid-area: 2 / 3 / 3 / 4;
    background: goldenrod;
}

.report {
    background: whitesmoke;
    height: 250px;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 10;
    border-radius: 15px;
}

