@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}


body {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    width: 60%;
    max-width: 600px;
    height: auto;
    min-height: 500px;
    border-radius: 15px;
    box-shadow: 1px 0 5px black;
}

.content {
    width: 50%;
}

.result-container {
    background: rgb(104,103,240);
    background: linear-gradient(0deg, rgba(104,103,240,1) 15%, rgb(84, 48, 214) 85%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 5%;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 2rem;
    background: linear-gradient(190deg, rgb(72, 42, 182) 25%, rgba(255,254,253,0.011600928074245953) 95%);
    opacity: 0.8;
    height: auto;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.result-value {
    font-size: 3rem;
}

.result-details {
    min-height: 200px;
    text-align: center;
}

.detail {
    margin: 1rem
}

.summary-container {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    padding: 0 1.5rem
}

.score {
    font-weight: 800;
}

.score, .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 1rem;
    border-radius: 8px;
}

.score-total h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.score-total h4 span {
    font-weight: bolder;
}

.score div img{
    margin: 5px
}

.score-type {
    display: flex;
    align-items: center;
}

.reaction {
    background: rgba(255, 0, 0, 0.05);
}

.memory {
    background: rgba(2209, 231, 12, 0.05);
}

.verbal {
    background: rgba(0, 128, 0, .05);
}

.visual {
    background: rgba(0, 0, 255, 0.05);    
}

.btn {
    background: rgb(13, 13, 73);
    justify-content: center;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background: rgb(84, 48, 214);
}