.image {
    width: 100%;
    margin: 0 auto;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul li {
    list-style: none;
}

.wrapper:before {
    display: none;
}

#wrapper > header  {
    margin-bottom: -1;
    padding-top: 2em;
}



@media screen and (max-width: 980px) {
    #wrapper > header  {
        margin-bottom: -6em;
        padding-top: 1em;
    }
}

@media screen and (max-width: 736px) {
    #footer {
        font-size: 8pt;
        width: 80%;
    }
}

