* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  width: auto;
}

h2 {
  color: #333;
}



a {
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 0 0.5rem;
  background: lightblue
}

a:hover {
  text-decoration: underline;
  background: transparent;
}
