* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
	color: var(--text);
	font-family: 'Montserrat', sans-serif;
}

:root {
	--primary: #AF1308;
	--secondary: #DB9943;
	--background: #6F1B15;
	--accent: #EBD9BB;
	--text: #3F1A18;
}

body {
    min-height: 100vh;
    background: url('/Gin Mon/assets/images/background.jpg');
}

header {
    background: var(--primary);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1.5rem;
}

header .logo {
    color: var(--secondary);
}

header nav ul {
    display: flex;
    flex-direction: row;
}

header nav ul li {
    padding: 1rem 2rem
}

header nav ul li a{
    color: var(--secondary)
}

header nav ul li ul {
    display: flex;
    flex-direction: column;
}