/*****BASE*****/
:root {
	--primary: #AF1308;
	--secondary: #DB9943;
	--background: #6F1B15;
	--accent: #EBD9BB;
	--text: #3F1A18;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
	color: var(--text);
	font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}


body {
    min-height: 100vh;
    background: url('/Gin Mon/assets/images/background.jpg');
}


/*****LAYOUT*****/

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--primary);
    box-shadow: 0 0.25rem 0.5rem rgba(199, 170, 6);
    padding: 0.25rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

header .logo {
	display: flex;
	flex-direction: column;
	text-align: center;
    font-weight: bolder;
}

header .logo a, footer .logo a {
	font-size: 2rem;
	color: var(--secondary);
}

header .logo span, footer .logo span {
	font-size: 1.1rem;
	color: var(--secondary)
}

header .navbar ul {
    display: flex;
    text-align: center;
    
}

header .navbar ul li {
    background: var(--primary);
    
}

header .navbar ul li a {
    font-size: 1.65rem;
    padding: 0.5rem 1.5rem;
    display: block;
	color: var(--secondary);
    
 
}

header .navbar ul li a:hover {
    background: var(--background);
    border-radius: 5px;
    color: var(--accent);
    
}

header .navbar ul li ul {
    position: absolute;
	right: 5rem;
	top: 4.3rem;
	width: 225px;
    display: flex;
    flex-direction: column;
    display: none;
    
}


header .navbar ul li ul li {
    width: 100%;
   
    
}

header .navbar ul li ul li a {
	color: var(--secondary);
  
}

header .navbar ul li ul li ul {
    left: 150px;
    top: 2.3rem;
    
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial; 
}

#menu-bar {
    display: none;
}

header label {
    cursor: pointer;
    display: none;
}


/*****MODULE*****/

/*****STATE*****/

/*****THEME*****/
