* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensure the body takes up the full height of the viewport */
    scroll-behavior: smooth; 
    transition:  scroll-behavior 5s;
}

.landing-container {
    display: flex;
    min-height: 100dvh;
}

.title-page-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-page-content {
    background: url('/Legends\ Comics/images/comic\ book\ background\ I.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    width: 80%;
}

.tagline {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}



.lets-go {
    width: 35%;
    margin: 4% auto;
    display: flex;
}


.carousel {
    display: flex;
    justify-content: center;
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    overflow: hidden; /* Hide overflowing images */
    position: relative; /* Ensure absolute positioning works relative to the carousel */
}

.carousel img {
    position: absolute;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 5s ease; /* Add transition for smooth fade-in effect */
}
  
.carousel img:first-child {
    opacity: 1; /* Show first image initially */
}




  /**************************************************/

  .home-container {
    background: url('/Legends\ Comics/images/download\ \(6\).jpg')no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 3rem;
}

.container {
    background-position: center;
    background-size: cover;
}

.title img {
    margin: 0 auto;
    display: flex;
    width: 30%;
}

.stores {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem
}

.stores a {
    font-size: 2.5rem;
    padding: 15px;
    text-decoration: none;
    color: rgb(219, 56, 7);
    text-shadow: 0 3px 5px rgb(52, 7, 136);
    font-weight: 600;
}

/*******************Nav Bar*******************/

.main-nav {
    position: relative;
    z-index: 1000; /* Ensure it's above other content */
    background-color: rgb(165, 165, 165);
    margin: 0 auto;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    width: 60%;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-link {
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: yellow;
    font-size: 1.4rem;
    padding: 0
}

.section-link:hover {
    background: red;
}

.section-link a {
    text-decoration: none;
    color: yellow;
    text-shadow: 0 0 10px black;
    padding: 35px;
}

/* Add a class to the navigation when scrolling */
.sticky-nav {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
}


/*******************Nav Bar*******************/

.pitch {
    width: 90%;
    height: auto;
    max-width: 1200px;
    margin: 3rem auto;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 10px;
    background: rgba(0, 0, 255, 0.6);
    box-shadow: 0 0 10px black;
    border: 1px solid black;
 }

 .pitch-container {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
 }

 .pitch-image {
    grid-area: 1 / 1 / 2 / 2;
 }

 .pitch-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
 }

 .pitch-content {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .pitch-content p {
    line-height: 2.5rem;
    color: white;
    font-size: 1.5rem;
    text-align: center;
 }



/*Start About Container*/
.about-container {
    background: url('/Legends\ Comics/images/download\ \(5).jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5rem;
}

.page-headline {
    font-size: 4rem;
}

.stores ul {
    display: flex;
    justify-content: space-evenly;
}

.stores ul li {
    list-style: none;
}

.stores ul li a {
    font-size: 1.2rem;
}

.store {
    width: 50%;
    background: rgba(255, 255, 255, 0.8);
    padding: 3rem;
    margin: 1rem;
    height: 100%;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}



.store:nth-child(1) {
    background: rgba(0, 0, 255, 0.6);
    color: white;
    text-shadow: 0 0 10px black;
    padding: 1.5rem
}

.store-information {
    display: flex;
    align-items: center;
    width: 100%;
}

.about-us {
    font-size: 2rem;
    line-height: 3rem;
    margin: 10% auto;
}

.shop-for {
    text-align: center;
    font-size: 1.8rem;
    margin: 1rem auto;
    color: red;
    text-transform: uppercase;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.card {
    text-align: center;
}


.card img {
    height: auto;
    width: 275px;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid blue;
}

.card img:hover {
    box-shadow: 0 0 10px yellow;
}

.card p {
    text-align: center;
    font-size: 1.2rem;
    color: red;
    text-transform: uppercase;
    font-weight: 600;
}
/*End About container*/

/*Start Location Container*/
.location-container {
    background: url('/Legends\ Comics/images/download\ \(3).jpg') no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5rem auto;
}

.location-container h3 {
    padding: 3rem;
}


.location-information {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px black;
    margin: 3% auto;
    border-radius: 10px;
}

.sub-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: blue;
    margin: 1rem;
}

.locations, .offers {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}

.location, .offer {
    text-align: center;
}

.location img, .offer img {
    height: auto;
    width: 275px;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    border: 5px solid blue;
    margin: 10px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.location h4, .offer h4 {
    font-size: 1.4rem;
    color: red;
}

footer .box h4 {
    color: yellow;
    text-shadow: 0 0 10px red;
}

.location img:hover {
    box-shadow: 0 0 10px yellow;
    border: 3px solid yellow;
}

.offer img:hover {
    box-shadow: 0 0 10px yellow;
}
/*End Location Page*/

h3 {
    color: red;
    text-shadow: 0 0 10px blue;
    font-size: 100px;
    margin: 5% auto;
}

.box h4 {
    color: red;
    font-size: 1.3rem;
    text-shadow: none;
}

.message {
    font-size: 1.75rem;
    width: 60%;
    margin: 0 auto;
    padding: 5%;
    text-align: center;
    text-shadow: 0 0 10px yellow;
}


.connect-container {
    background: url('/Legends\ Comics/images/download\ \(1).jpg') no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5rem;
}


.connect-container .row {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.connect-container .row form {
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
    border: 1rem solid rgba(0, 0, 0, 0.1);
    background:var(--white);
    border-radius: 0.5rem;
}

.connect-container .row .image {
    flex: 1 1 55rem;
}

.connect-container .row .image img {
    width: 50%;
    margin: 0 auto;
    display: flex;
}

.connect-container .row form .box {
    padding: 1.7rem;
    text-transform: none;
    border: 1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin: 0.7rem 0;
    width: 100%;
}

.connect-container .row form .box:focus {
    box-shadow: 0 0 10px blue;
}

.connect-container .row form textarea {
    height: 15rem;
    resize: none;
}

.btn {
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5rem;
    background: blue;
    color: white;
    padding: 1rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: red;
}

/*CONTACT SECTION END*/



/*FOOTER SECTION START*/

.footer-container {
    background: blue;
    padding: 100px;
    background-size: cover;
    background-position: center;
}


.footer-container .box-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.footer-container .box-container .box {
    flex: 1 1 15rem;
    
}

.footer-container .box-container .box h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer-container .box-container .box a {
    display: block;
    color: black;
    text-shadow: 0 0 10px yellow;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 1rem 0;
    text-transform: none;
}


.footer-container .box-container .box a:hover {
    color: yellow;
    text-shadow: 0 0 10px red;
}

.footer-container .box-container .box img {
    margin-top: 1rem;
}

.footer-container .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 1.5rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}


.footer-container .credit span {
    color: yellow;
}
/*FOOTER SECTION END*/

