@media (max-width: 800px) {

    #landing {
        min-height: 100dvh;
    }

    #title-page-content {
        width: 100%;
        height: inherit;
    }
    #title-page-carousel {
        display: none;
    }
    #company .title img {
        width: 50%;
    }

    .page-headline {
        font-size: 2rem;
    }

    .stores a {
        font-size: 0.8em;
        
        padding: 15px;
    }

    .main-nav {
        width: 95%;
    }

  
    .sticky {
        width: 100%;
        border-radius: 0;
    }

    .main-nav ul li a {
        padding: 15px;
    }

    .nav-links li a{

        font-size: 1rem;
    }

    .pitch {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
    .pitch-image { 
        grid-area: 1 / 1 / 2 / 2; 
    }


    .pitch-content { 
        grid-area: 2 / 1 / 3 / 2; 

    }

    .pitch-content p {
        font-size: 1rem;
    }

    .pitch-container {
        height: 60%;
        margin: 0;
    }


    .locations {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    
    .location img {
        height: auto;
        width: 300px;
        max-width: 400px;
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        border: 10px solid blue;
        margin: 5px;
    }
    

}