@media  screen and (max-width: 1200px) {
    header {
        color: var(--coalGrey);
        position: fixed;
        height: 100px;
        background: var(--spaceCadet);
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        padding: 3rem;
    }

    header span {
        margin-top: 0;
        width: auto
    }

    header button {
        height: auto;
        padding: 3rem;
    }

    .account-function, .nav-functions {
        height: auto;
        flex-direction: row;
        align-items: center;
    }

    ul li a {
        width: 150px;
        padding: 0;
        margin: 0;
        padding: 2rem 0;
    }

    .banner {
        left: 0
    }

    .home a {
        left: 0
    }

    .about-container .container {
        left: 0;
        width: 100%;
    }

    .feature-container {
        width: 100%;
        left: 0
    }

    .actions-container {
        width: 100%;
        left: 0
    }

    footer {
        width: 100%;
        left: 0
    }
}