/*
All images are the property of DeviantArt, GoodFon, and Rawpixel, and are copyrighted to various artists. Unauthorized reproduction, distribution, or use of these images without the explicit consent of DeviantArt and the respective artists is strictly prohibited and may result in legal action.
*/

* {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #5d856c;
}


select, .option {
    color: rgba(0, 0, 0, 0.7);
}

table {
    border: 5px solid grey;
    background-color: grey;
    box-shadow: 1px 1px 15px black;
    margin: 0 auto;
}

tr td:nth-child(2) {
    max-width: 500px;
}

td {
    height: 40px;
}
tr:nth-child(odd) {
    background-color: #f3f3f3;
}

tr:nth-child(even) {
    background-color: #a9a9a9;
}

tr:hover {
    background-color: rgb(233, 226, 189);
    cursor: pointer;
}

table td, table th {
    padding: 10px
}


th {
    background-color: #a9a9a9;
    color: white;
    font-size: 1.5rem;
}

th:hover {
    cursor: default;
}

.game {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Adjust the width of the game container */
    padding: 20px;
    box-sizing: border-box;
}



h1 {
    text-align: center;
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

.howTo h2 {
    font-size: 2.2rem;
}

.banner {
    margin: 8rem auto;
    padding: 5rem;
    max-width: 800px;
    background: rgba(110, 109, 109, 0.5)
}

.banner h1, .banner p {
    color: rgb(212, 202, 202);
    font-weight: 800;
    text-align: center;
}

.banner h1 {
    font-size: 3rem;
}

.banner p {
    font-size: 1.4rem;
}

.about {
    background-color: rgba(173, 182, 175, 0.8);
    margin: 3rem auto;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.howTo {
    background-color: rgba(173, 182, 175, 0.8);
    margin: 3rem auto;
    padding: 2rem;
    max-width: 80%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.about p, .about div p, li {
    font-size: 1.2rem;
}

.paragraph li {
    list-style: "+";
    padding: 3px 10px;
    margin-left: 2.75rem;
}

.about div, .instructions div {
    background: rgb(212, 202, 202);
    margin: 1rem;
    padding: 1rem ;  
    border-radius: 15px; 
}

#deck {
    background: rgb(113, 241, 113);
    padding: 4px;
}

.card {
    display: inline-block; /* Ensures the cards are displayed horizontally */
    position: relative; /* Positioning context for the image */
    margin: 1rem;
    border-radius: 15px;
}

.card img {
    display: block;
    width: 100%; /* Ensure the image fills the entire card */
    height: 100%; /* Maintain aspect ratio */
    border-radius: 15px;
}


.card:hover img {
    box-shadow: 0 0 20px 0 gold;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#deck:hover img {
    box-shadow: 0 0 30px rgb(113, 241, 113);
    border-radius: 15px;
}

#discard {
    border: 4px solid rgb(197, 23, 23)
}

#discard:hover img {
    box-shadow: 0 0 30px red;
}

.table {
    border: 5px solid rgb(47, 75, 55);
    background: rgba(63, 99, 73, 0.5);
    
}


.about, .game,  .table {
    max-width: 1200px;
    margin: 2rem auto;
    border-radius: 15px;
}

.effects, .river  {
    display: flex;
}


.howTo div {
    width: 100%;
}

.howTo h2, .howTo h3 {
    text-align: center;
}

.instructions {
    display: flex;
    justify-content: space-evenly;
}


.instructions .cardTypes li {
    list-style: none;
}

.instructions h3 {
    font-size: 1.4rem;
}

.instructions li {
    margin: 0.75rem 0;
    margin-left: 2rem;
}

.instructions li ul li {
    margin-left: 2rem;
}

.instructions li p {
    font-size: 1.2rem;
}

.cardTypes ul li{
    text-align: center;
}

.cardTypes ul li h4 {
    font-size: 1.2rem;
    text-decoration: underline;
}

@media(max-width: 1400px) {
   

    .instructions {
        flex-direction: column; /* Stack divs on top of each other */
        align-items: center;
        width: 100%;
    }
}