@media (max-width: 600px) {
    main {
        display: block;
        width: 80%;
        margin: 0 auto
    }  

    .tooltiptext {
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        
    }

    .tooltiptext a {
        display: flex;
        margin: 0;
        justify-content: center;
        flex-direction: row;
        
    }
     
    .share .tooltiptext {
        position: absolute;
        bottom: -100%;
        left: -850%;
        min-width: 400px;
        z-index: -2
    }
}