@media (max-width: 800px) {
    .container {
        display: block;
        width: 80%;
        max-width: 500px;
    }

    .container-element:nth-child(2) {
        width: 100%;
        margin: 0;
    }

    .text > *,
    .more > * {
        margin: 0.5rem 0;
    }

    .more {
        margin: 0
    }

    .tooltip {
        position: relative; /* Added positioning context */
    }
    
    .tooltip .tooltiptext {
        position: absolute;
        bottom: 0;
        right: 0;
        left: -875%;
        width: auto;
        height: 50px;
    }

    .links {
        padding-right: 25%
    }

    
    
}
