@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-size: 13px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

:root {
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    max-width: 800px;
    
}
/*left hand side of container*/
.container-element:nth-child(1) {
    width: 40%;
}

.article-image img {
    width: 100%;
}
/*Right Hand side of container*/
.container-element:nth-child(2) {
    width: 60%
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 15px
}

.more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem 0 2rem
}

.more .author {
    display: flex;
    align-items: center;
}

.more .author .author-image img {
    height: 45px;
    border-radius: 50%;
    margin-right: 5px
}

.more .author h2 {
    font-size: .9rem;
}

.more .author .date {
    font-size: 0.7rem;
    color: var(--GrayishBlue);
}

img.jump {
    padding: 15px;
    border-radius: 50%;
}

img.jump:hover {
    background: var(--LightGrayishBlue);
}


.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.tooltip .tooltiptext {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    visibility: hidden;
    width: auto;
    background-color: var(--VeryDarkGrayishBlue);
    text-align: center;
    border-radius: 6px;
    padding: 10px 15px;
    position: absolute;
    bottom: 125%;
    left: -100%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext span {
    letter-spacing: .3rem;
    color: var(--GrayishBlue);
    font-size: 0.8rem;
}

.tooltip .tooltiptext .links a {
    height: 1.75rem;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
    margin: 0 5px;
    border-radius: 50%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
