@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

:root {
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

body {
    font-size: 13px;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--LightGrayishBlue);
}

main {
    display: flex;
    max-width: 600px;
}

h1 {
    font-size: 1.2rem;
}

h2, .article-date {
    font-size: 0.8em;
}

p {
    font-size: 1.1em;
}

.drawers {
    width: 100%;
    height: 100%;
}


.about > * {
    margin: .25em 0
}

.author, .more {
    display: flex;
}

.author {
    z-index: -2;
}

.more {
    justify-content: space-between;
    align-items: center;
}

.author-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 1em;
    
}

.description {
    padding-left: 10px
}

.description .more .author img {
    width: 50px;
    border-radius: 50%;
}

.share {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: fit-content;
}

.share .links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.share .tooltiptext {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    visibility: hidden;
    background-color: var(--VeryDarkGrayishBlue);
    text-align: center;
    border-radius: 6px;
    padding: 10px 15px;
    visibility: hidden;
    width: auto; /* Inherit the width of the flex container */
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    bottom: 225%;
    left: -50%;
    height: 60px;
    margin-left: -60px;
    margin-right: -15px;
    opacity: 0;
    transition: opacity 0.3s;
}

.share-icon {
    padding: 10px;
    border-radius: 50%;
    
}

.share-icon:hover {
    background: var(--GrayishBlue);
}

.tooltiptext a {
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
}

.tooltiptext span {
    cursor:default;
}

.tooltiptext a:hover {
    background: var(--GrayishBlue); 
}



.share .tooltiptext span {
    letter-spacing: .3rem;
    color: var(--GrayishBlue);
    font-size: 0.8rem;
}

.share .tooltiptext .links a {
    height: 2.5rem;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    margin: 0 10px;
    border-radius: 50%;
}

.share .tooltiptext .links a:hover {
    background: var(--GrayishBlue);
}

.share:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
