:root {
    --primary: #071630;/*midnight blue*/
    --secondary: #F4E6D1; /*cheesecake*/
    --background: #48006A;
    --accent: #FFD700;
    --highlight: #DE2504;
}

body {
    background-image: url('/Sweet Adventures/assets/night sky of stars.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 15vh;
}

body header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header-logo {
    width: 50%;
    max-width: 400px;
}

#header-brand {
    width: 100%;
    max-width: 800px;
}

main {
    background-color: var(--secondary);
}

main nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main nav ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

main nav ul li:hover {
    background-color: var(--background);
}

main nav ul li a {
    text-decoration: none;
}

main nav ul li a:hover {
    color: var(--secondary)
}



main nav ul li ul {
    flex-direction: column;
    align-items: flex-start;
    display: none;
}