.appointments {
    position: relative;
    top: 100px;
   
    background: url('../../public/Untitled-1\ \(10\).png');
    background-position: bottom;
}

.container {
    position: relative;
    top: 300px;
}

p {
    padding: 0;
    margin: 0
}