:root {
    --beige: #e3d7d0;
    --white: #fdfdfd;
    --brown: #bc9a7c;
}

body {
    background: var(--beige);
    scroll-behavior: smooth;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.fade {
    animation: fade 3s ease-in-out 1 forwards;
}


@keyframes fade {
    from {
      opacity: 0; /* Start invisible */
    }
    to {
      opacity: 1; /* End fully visible */
    }
  }