
:root {
    --beige: #e3d7d0;
    --white: #fdfdfd;
    --brown: #bc9a7c;
    --black: #0e0d0d;
}


.staff-intro {
    height: 80dvh;
    background: url('../../public/Untitled-1\ \(4\).png');
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -150px;
}

.staff-intro div {
    width: 100%;
}

.staff-intro div img {
    width: 100%;
}

.staff-container {
    padding-top: 250px;
}

.our-professionals {
    animation: slide 2s ease-out forwards;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@keyframes slide {
  0% {
    transform: translateX(200%); /* Start completely offscreen to the right */
  }
  100% {
    transform: translateX(90%); /* End halfway across the screen */
  }
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blurb p {
    font-size: 1.5rem;
    padding: 1rem;
}

.blurb ul li {
    width: 70%;

}



.member {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(227, 215, 208, 0.8);
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 5px var(--brown);
}
.member:nth-child(odd) {
    flex-direction: row-reverse;
}

.member div {
    width: 100%;
}

.member div img {
    width: 80%;
    margin: 0 10%
    
}

.make-appointment {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row-reverse;
    background: var(--brown);
    padding: 3rem;
}

.make-appointment div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.make-appointment div p {
    font-size: 1.4rem;
    text-align: center;
}

.make-appointment div a {
    text-decoration: none;
    background: var(--white);
    color: var(--brown);
    padding: 1rem 6rem;
    box-shadow: 0 0 5px var(--black);
    font-size: 1.2rem;
}

.make-appointment div img {
    width: 95%;
    

}
