@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--CharcoalGrey);
}

:root {
    --Tomato: hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

main {
    display: flex;
    flex-direction: row;
    background: var(--White);
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

label {
    font-weight: 800;
}

.title {
    font-size: 3rem;
    font-weight: 800;
}

.join {
    font-size: 1.5rem;
}

.text {
    flex: 1;
    padding: 20px;
}

.image {
    flex: 1;
    position: relative;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    background: url('/Front End Mentor Projects/Newsletter Sign-Up Form/project/desktop.png') no-repeat center center;
    background-size: cover;
    border-radius: 15px;
}

li {
    list-style: none;
    margin: .75rem 0;
    font-size: 1.25rem;
    display: flex;
}


li:before {
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Im0xMCAxNi40bC00LTRMNy40IDExbDIuNiAyLjZMMTYuNiA3TDE4IDguNHoiLz48L3N2Zz4=');
    background: var(--Tomato); 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    vertical-align: middle;
  
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

form, button {
    width: 100%;
}


form div {
    display: flex;
    flex-direction: column;

}

form div span {
    color: var(--Tomato)
}

form div input {
    height: 45px;
    margin: .25rem 0;
    border: 1px solid rgba(211, 211, 211);
    border-radius: 15px;
    padding: 0.5rem;
}

form div input:focus,
form div input:active {
    border-color: var(--Tomato);
    outline: none; /* Optional: removes the default focus outline */
}

form div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
}

form button, a {
    margin: 1.5rem 0;
    height: 50px;
    border-radius: 10px;
    background: var(--DarkSlateGrey);
    color: var(--White);
    border: none; /* Removes default border */
    text-decoration: none;
}

form button:hover, a:hover {
    cursor: pointer;
    background: hsla(231, 7%, 60%, 0.2);
    color: var(--DarkSlateGrey)
}

.success-container {
    padding: 2rem;
    max-width: 500px;
}

.success-container h1,.success-container p {
    margin: 1.5rem 0;
}

.success-container img {
    display: flex;
    align-items: flex-start;
}

