* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --LightPink: hsl(275, 100%, 97%);
    --GrayishPurple: hsl(292, 16%, 49%);
    --DarkPurple: hsl(292, 42%, 14%);
}

body {
    background: var(--GrayishPurple);
}

header {
    display: grid;
    place-items: stretch;
    height: 30vh;
    background: url('/faq-accordion-main/assets/images/background-pattern-desktop.svg');
    background-position: center;
}

main {
    display: grid;
    place-items: center;
    margin: 0 auto;
    transform: translateY(-40%);
    width: 100%;
    max-width: 800px;
    background:var(--LightPink);
    padding-bottom: 3rem;
    border-radius: 15px;
}

h1 {
    font-size: 1.4rem;
}


.description {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem;
    padding-left: 4rem
}

.description img {
    height: 40px;
    margin-right: 1rem;
}

.accordion {
    margin: 0 2rem 1rem 2rem;
    width: 80%;
}

.questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid hsla(292, 16%, 49%, 0.3);
    margin: 15px 0;
}

.questions img {
    height: 35px;
    cursor: pointer;
}

.hidden {
    display: none;
}








