@media(max-width: 400px) {
    main {
        
        width: 90%;
        padding-top: 1rem;
    }

    h1 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    .description {
        display: flex;
        margin: 1rem;
        padding-left: 2rem;
    }
    
    .description img {
        height: 30px;
        margin-right: 1rem;
    }

    .accordion {
        margin: 0 1rem 1rem 1rem;
    }
    
    .questions {
        align-items: center;
    }
    
    .question {
        font-size: 0.8rem;
        margin: 0 0.5rem;
    }
    
    .questions img {
        height: 25px;
    }
}