@media(max-width: 400px) {

    h1 {
        font-size: 1rem;
    }

    .description {
        display: flex;
        margin: 2rem;
    }
    
    .description img {
        height: 30px;
        margin-right: 1rem;
    }

    .accordion {
        margin: 0 1rem 1rem 1rem;
    }
    
    .questions {
        align-items: flex-start;
    }
    
    .question {
        font-size: 0.8rem;
        margin: 0 0.5rem;
    }
    
    .questions img {
        height: 25px;
    }
}